* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

/* BUTTONS */

.btn {
  border: 0;
  cursor: pointer;
  padding: var(--button_padding) 0;
  border-radius: var(--button_border_radius);
  font-weight: var(--bolder_200);
  transition: background-color 0.4s ease;
}

.btn-primary {
  background-color: var(--button_primary_bg);
  color: var(--button_primary_text_color);
}
.btn-primary:hover {
  background-color: var(--button_primary_active_bg);
  color: var(--button_primary_active_text_color);
}

.btn-secondary {
  background-color: var(--button_secondary_bg);
  color: var(--button_secondary_text_color);
}

.btn-secondary:hover {
  background-color: var(--button_secondary_active_bg);
  color: var(--button_primary_active_text_color);
}

/* INPUTS */

input {
  text-align: right;
  width: 100%;
  border: 0;
  cursor: pointer;
  background-color: var(--input_bg_color);
  padding: var(--input_padding);
  border-radius: var(--input_border_radius);
  font-weight: var(--bolder_200);
  font-family: var(--page_font_family);
}

input[type="radio"] {
  -moz-appearance: initial;
}

input:not(input[type="radio"]):focus {
  border: 3px solid var(--border_active) !important;
}

/* LABEL */

label {
  display: block;
}

body {
  zoom: 80%;
  width:100%;
  height : 100%;
  font-family: var(--page_font_family);
  background-color: var(--page_bg_color);
  font-weight: var(--page_font_weight);
  background-image: url("images/logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 2%;
}

#main {
  display: grid;
  align-content: flex-end;
  justify-content:center;
}

@media (min-width: 1200px) {
  body {
    zoom: 100%;
    background-position: 50% 12%;
  }

  #main {
    place-content: center;
  }
}
