@import url("variables.css");
@import url("global.css");

/* CALCULATOR */

.calculator {
  width: var(--calculator_width);
  background-color: var(--calculator_bg);
  padding: var(--calculator_padding);
  border-radius: var(--calculator_border_radius);
}

.calculator section:first-child {
  margin-bottom: var(--calculator_section_margin);
}

/* CALCULATOR INPUTS */

.calculator-amount,
.calculator-percentage {
  margin-bottom: var(--calculator_inputs_amount_block_margin);
}

.calculator-inputs label {
  color: var(--calculator_inputs_label_color);
  margin-bottom: var(--calculator_inputs_label_margin);
}

.calculator-percentage-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--calculator_inputs_perc_grid_gap);
}

.calculator-inputs .span-warning {
  display: none;
}

.calculator-people.warning .span-warning {
  color: var(--calculator_result_warning_label_color);
}

.calculator-people.warning input:focus {
  border: 2px solid var(--calculator_result_warning_border_color) !important;
}

/* CALCULATOR RESULT */

.calculator-result {
  padding: var(--calculator_result_padding);
  background-color: var(--calculator_result_bg);
  border-radius: var(--calculator_result_border_radius);
}

.calculator-tip-amount,
.calculator-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--calculator_result_tip_block_margin);
}

.calculator-result .calculator-reset {
  width: 100%;
}

.calculator-result label {
  color: var(--label_white);
}

.calculator-result span {
  display: block;
  color: var(--label_grey);
}

.calculator-result .result-total {
  color: var(--label_cyan);
}
