@import url("variables.css");
@import url("global.css");

/* CALCULATOR */

.calculator {
  width: var(--calculator_width);
  background-color: var(--calculator_bg);
  padding: var(--calculator_padding);
  border-top-left-radius: var(--calculator_border_radius);
  border-top-right-radius: var(--calculator_border_radius);
}

.calculator section:first-child {
  margin-bottom: var(--calculator_section_margin);
}

/* Calculator-inputs */

.calculator-amount,
.calculator-perc-block {
  margin-bottom: var(--ci_amount_block_margin);
  position: relative;
}

.calculator-inputs .bill-input {
  font-size: var(--ci_font_size);
  color: var(--ci_input_text_color);
}

.calculator-inputs label {
  font-size: var(--ci_label_font_size);
  color: var(--ci_label_color);
  margin-bottom: var(--ci_label_margin);
  font-weight: 900;
}

.calculator-inputs-input-icon {
  position: absolute;
  top: 50px;
  left: 15px;
}

.calculator-perc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--ci_perc_grid_gap);
}

.calculator-perc-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--page_font_family);
  color: var(--button_primary_text_color);
  min-height: var(--button_height);
}

.calculator-perc-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--button_primary_bg);
  border-radius: var(--button_border_radius);
  transition: background-color 0.4s ease;
}

.calculator-perc-button:hover:before,
.calculator-perc-button:checked:before {
  background-color: var(--button_primary_active_bg);
}

.calculator-perc-button:last-child:before {
  background-color: var(--input_bg_color);
}

.calculator-perc-button::after {
  font-size: var(--ci_perc_font_size);
  z-index: 1;
}

.calculator-perc-button:hover::after,
.calculator-perc-button:checked::after {
  color: var(--button_primary_active_text_color);
}

.calculator-perc-button:nth-child(1)::after {
  content: "5%";
}
.calculator-perc-button:nth-child(2)::after {
  content: "10%";
}
.calculator-perc-button:nth-child(3)::after {
  content: "15%";
}
.calculator-perc-button:nth-child(4)::after {
  content: "20%";
}
.calculator-perc-button:nth-child(5)::after {
  content: "50%";
}

.calculator-perc-button.custom {
  padding: 0 16px 0 0;
  font-family: var(--page_font_family);
  font-size: var(--ci_perc_font_size);
  color: var(--ci_custom_button_text_color);
}

.calculator-people {
  position: relative;
}

.calculator-people .people-labels {
  display: flex;
  justify-content: space-between;
}

.calculator-people .span-warning {
  display: none;
}

.calculator-people.warning .span-warning {
  display: block;
  color: var(--cr_warning_label_color);
}

.calculator-people.warning input:focus {
  border: 2px solid var(--cr_warning_border_color) !important;
}

/* Calculator-result */

.calculator-result {
  padding: var(--cr_mobile_padding);
  background-color: var(--cr_bg);
  border-radius: var(--cr_border_radius);
}

.calculator-tip-amount,
.calculator-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--cr_tip_block_margin);
}

.calculator-result .calculator-reset {
  width: 100%;
  font-size: var(--cr_btn_font_size);
}

.calculator-result label {
  font-size: var(--cr_label_font_size);
  color: var(--label_white);
  align-self: center;
}

.calculator-result span {
  display: block;
  color: var(--label_grey);
}

.calculator-result .result-total {
  font-size: var(--cr_total_label_font_size);
  color: var(--label_cyan);
}

@media (min-width: 1200px) {
  .calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--calculator_grid_column_gap);
    border-radius: var(--calculator_border_radius);
  }

  .calculator-perc {
    grid-template-columns: repeat(3, 1fr);
  }

  .calculator-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--cr_desktop_padding);
  }
}
